streamlit
langchain
langchain-openai
langchain-community
langchain-core
langchain-text-splitters
langchain-ollama
langchain-groq
langchain-chroma
faiss-cpu
pypdf
python-dotenv
numpy
pydantic
arxiv
wikipedia
validators
youtube_transcript_api